.fascia{
    background-image: url("../img/pattern.png");
    background-color:#009aff;
    height: 160px;
    
}

.logo{
    width: 220px;
    padding-top: 90px;
}
.titolo{
    font-size: 35px;
    margin-bottom: -33px;
}

#autori{
    color: grey;
    font-size: 25px;
}
#nomeautori{
    color: #00d0ff;
    font-size: 25px;
    font-weight: bold;
}
#data{
    margin-top: 0px;
    color: grey;
}
#src1{
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 5px;
}
#src2{
    font-size: 13px;
    margin-top: 0px;
}
#lorem{
    font-size: 20px;
}
li{
    font-size: 20px;
}