.fascia{
    background-image: url("../img/pattern.png");
    background-color:#009aff;
    height: 160px;
    
}

.logo{
    width: 220px;
    padding-top: 90px;
}
.titolo{
    font-size: 35px;
    margin-bottom: -33px;
}

#autori{
    color: grey;
    font-size: 25px;
    font-weight: bold;
}
#nomeautori{
    color: #00d0ff;
    font-size: 25px;
    font-weight: bold;
}
#data{
    margin-top: 0px;
    color: grey;
}
#src1{
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 5px;
}
#src2{
    font-size: 13px;
    margin-top: 0px;
}
#lorem{
    font-size: 20px;
}
li{
    font-size: 20px;
}
.tabella{
    border-spacing: 0px;
    margin-top: 50px;
    width: 1890px;
    
    
}
.intabella{
   background-color: #009aff;
   
}

th{
    font-size: 20px;
    color: white;
    width: 483px;
    text-align: left;
}
td{
    font-size: 20px;
}
.colorato{
    background-color: #00c9ff57;
}
#text{
    font-size: 20px;
}

.img1{
    background-image: url("../img/monitor.jpg");
    width: 312px;
    height: 208px;
}
.img2{
    background-image: url("../img/graph.jpg");
    width: 311px;
    height: 207px;
}

#bianco{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    
}